{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "arrowParens": "avoid",
        "htmlWhitespaceSensitivity": "strict",
        "bracketSpacing": true,
        "proseWrap": "always",
        "semi": true,
        "tabWidth": 2,
        "useTabs": false
      }
    ],
    "eqeqeq": 2,
    "eol-last": 0,
    "no-nested-ternary": 1,
    "padded-blocks": [
      1,
      "never"
    ],
    "space-before-blocks": [
      1,
      "always"
    ],
    "spaced-comment": 2,
    "space-infix-ops": 2,
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "overrides": [
    {
      "files": [
        "jest.config.js",
        "webpack.config.js",
        "prettier.config.js"
      ],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ]
}