node_modules
coverage
.nyc_output
.DS_Store
*.mid
.idea/
.vscode/
.npmrc
log.*
*.log

*BAK*
/dist
/docs
/jsdoc
/lib
jsdoc-config.json
typedoc-out.json
/src/ClipParams.ts

/browser.js
*.js.map
/index.d.ts
/index.js
/max.js
